/* Write your CSS here */
.registration-closed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  height: 100%;
}
.logo-closed {
  height: 250px;
  width: 250px;
}
.heading {
  font-family: 'Roboto';
  color: #323f4b;
  font-weight: 500;
  text-align: center;
}
.para {
  font-family: 'Roboto';
  color: #475569;
  text-align: center;
}
.para1 {
  font-family: 'Roboto';
  color: #475569;
  align-self: flex-start;
}
.yet-register {
  height: 400px;
  width: 300px;
}
.register-button {
  background-color: #0967d2;
  border: 0px none transparent;
  color: #ffffff;
  font-family: 'Roboto';
  padding: 5px;
}
.right-image {
  height: 80px;
  width: 80px;
}
